@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

/* layout */
.drinks_container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    flex-direction: row;
    align-items: stretch;
}
.drinks_inputform {
    order:1;
    background-color: white;
    width: 37%;
    padding: 2%;
    margin: 0;
}
.drinks_display{
    order:1;
    background-color: white;
    width: 53%;
    padding: 2%;
    margin: 0;
}
.drinks_recdrinklist{
    order:2;
    background-color: white;
    width: 37%;
    padding: 2%;
    margin: 0;
}

/* styling for headline */
.drinks_heading-style,.drinks_heading-style2,.drinks_heading-style3 {
  position: relative;
  z-index: 1;
}
.drinks_heading-style:before,.drinks_heading-style2:before,.drinks_heading-style3:before  {
  content: "";
  margin: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.drinks_heading-style:before {
  border-top: 23px solid #F6DC7A;
  width: 95%;
}
.drinks_heading-style2:before {
  border-top: 23px solid #05e5e5;
  width: 30%;
}
.drinks_heading-style3:before {
  border-top: 23px solid #ff4e4e;
  width: 75%;
}

/* button styling */
.drinks_btn{
    background-color: black;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight:600;
}
.drinks_btn:hover{
    background-color: white;
    border: solid 2px black;
    color: black;
    margin: 0;
    padding: 6px 10px;
}

.drinks_btn1, .drinks_btn2{
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    font-size: 12.5px;
    font-weight:600;
}
.drinks_btn1{
    color: #05e5e5;
    border: solid 1.5px #05e5e5;
}
.drinks_btn1:hover{
    background-color: #05e5e5;
    color: black;
    border: solid 1.5px #05e5e5;
}
.drinks_btn2{
    color: #ff2222;
    border: solid 1.5px #ff2222;
}
.drinks_btn2:hover{
    background-color: #ff2222;
    color:white;
    border: solid 1.5px #ff2222;
}

/* form styling */
.drinks_inputform input[type=text] {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
}
p{
    margin: 3px 0;
}
.errors{
    color: red;
}
.drinks_dropbtn{
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
#drinks_table,#drinks_table2{
    border-collapse: collapse;
    width: 100%;
}
#drinks_table td,#drinks_table2 td{
    font-size: 13px;
    padding:3px 8px;
}
#drinks_table th, #drinks_table2 th {
    padding: 10px 8px;
    text-align: left;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
#drinks_table th {
    background-color: black;
}
#drinks_table2 th {
    background-color: #505050;
}


@media only screen and (max-width: 1000px){
    .drinks_container{
        flex-direction: column;
    }
    .drinks_inputform {
        order:1;
        width: 100%;
    }
    .drinks_display{
        order:3;
        width: 100%;
    }
    .recdrinklist{
        order:2;
        width: 100%;
    }
    .drinks_heading-style:before {
        width: 70%;
    }
    .drinks_heading-style2:before {
        width: 40%;
    }
    .drinks_body{
        font-size: 14px
    }
    input[type=text]{
        padding:2px 5px;
    }
    #drinks_table td{
        font-size: 12px;
        padding:2px;
    }
    #drinks_table th {
        padding:3px;
        font-size: 12px;
    }
}