@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
.food-container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: 1.90%;
}
.food-inputform {
    order:1;
    background-color: white;
    width: 30%;
    padding: 2.5%;
    margin: 0;
    margin-left: 5%;
    margin-top: 5%;
}
.food-display{
    order:1;
    background-color: white;
    width: 55%;
    padding: 2.5%;
    margin: 0;
    margin-right: 5%;
    margin-top: 5%;
}
.food-inputform-edit{
    order:1;
    background-color: white;
    width: 30%;
    padding: 2.5%;
    margin: 0;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 11.90%;
}

/* styling for headline */
.food-h-style-add,.food-h-style-list {
  position: relative;
  z-index: 1;
}
.food-h-style-add:before,.food-h-style-list:before  {
  content: "";
  margin: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.food-h-style-add:before {
  border-top: 23px solid #F6DC7A;
  width: 90%;
}
.food-h-style-list:before {
  border-top: 23px solid #05e5e5;
  width: 23%;
}
/* button styling */
.food_btn{
    background-color: black;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight:600;
}
.food_btn:hover{
    background-color: white;
    border: solid 2px black;
    color: black;
    margin: 0;
    padding: 6px 10px;
}
.food_btn1, .food_btn2{
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    font-size: 12.5px;
    font-weight:600;
}
.food_btn1{
    color: #05e5e5;
    border: solid 1.5px #05e5e5;
}
.food_btn1:hover{
    background-color: #05e5e5;
    color: black;
    border: solid 1.5px #05e5e5;
}
.food_btn2{
    color: #ff2222;
    border: solid 1.5px #ff2222;
}
.food_btn2:hover{
    background-color: #ff2222;
    color:white;
    border: solid 1.5px #ff2222;
}
/* form styling */
.food-input {
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 15px;
}
.food-p{
    margin: 5px 0;
}
.food-dropbtn{
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
#food-table{
    border-collapse: collapse;
    width: 100%;
}
#food-table td{
    font-size: 13px;
    padding:3px 8px;
}
#food-table th {
    padding: 10px 8px;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
}


@media only screen and (max-width: 900px){
    .food-container{
        flex-direction: column;
    }
    .food-inputform {
        order:1;
        width: 100%;
    }
    .food-display{
        order:2;
        width: 100%;
    }
    .food-h-style-add:before {
        width: 70%;
    }
    .food-h-style-list:before {
        width: 40%;
    }
    body{
        font-size: 14px
    }
    input[type=text]{
        padding:2px 5px;
    }
    #food-table td{
        font-size: 12px;
        padding:2px;
    }
    #food-table th {
        padding:3px;
        font-size: 12px;
    }
}