@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
.gallery_body{
    max-width: 1200px;
    background: #f2f2f2;
    margin: 0 3%;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
}

/* layout */
.gallery_header{
    display: block;
    margin-left: 5%;
}
.gallery_inputform {
    background-color: white;
    width: 90%;
    height:70px;
    padding: 2%;
    margin: 0 auto;
}
.gallery_upload-msg{
    width: 20%;
    display: inline-block;
    color:#ff4e4e;
    font-size: 16px;
    margin-left: 85%;
}
.gallery_upload-header{
    margin-left: 60%;
    width: 20%;
    display: inline-block;
}
.gallery_upload-form{
    display: inline-block;
    width:15%;
}
.gallery_display{
    background-color: white;
    width: 90%;
    min-height: 50px;
    padding: 2%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* gallery style */
.gallery_display .photo-container{
    position: relative;
    width: 230px;
    height: 230px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}
.gallery_display .photo-container .photo-sec{
    position: relative;
    overflow: hidden;
}
.gallery_display .photo-container .photo-sec img{
    max-width: 150%;
}
.gallery_display .photo-container .photo-info{
    position: absolute;
    top:7px;
    left:7px;
    bottom:7px;
    right:7px;
    background: rgba(225,225,225,0.7);
    transform: scaleY(0);
    transition: transform .5s;
}
.gallery_display .photo-container:hover .photo-info{
    transform: scaleY(1);
}
.gallery_display .photo-container .photo-info .photo-content .photo-text{
    position: absolute;
    padding:10px;
    margin:0;
    font-weight: 600;
    font-size: 18px;
}

/*edit and delete buttons */
.edit {
    background-color: #F6DC7A;
    border: solid 2px #F6DC7A;
    color: black;
    padding: 1px 4px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    bottom:10px;
    right:70px;
}
.edit:hover {
    background-color: #ff4e4e;
    border: solid 2px #ff4e4e;
    color: white;
}
.delete{
    background-color: black;
    border: solid 2px black;
    color: white;
    padding: 1px 4px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    bottom:10px;
    right:10px;
}
.delete:hover{
    background-color: #ff4e4e;
    border: solid 2px #ff4e4e;
}

/* styling for headline */
.gallery_heading-style,.gallery_heading-style2,.gallery_heading-style3 {
    position: relative;
    z-index: 1;
}
.gallery_heading-style:before,.gallery_heading-style2:before, .gallery_heading-style3:before {
  content: "";
  margin: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.gallery_heading-style:before {
    border-top: 23px solid #05e5e5;
    width: 15%;
}
.gallery_heading-style2:before {
    border-top: 23px solid #ff4e4e;
    width: 90%;
}
.gallery_heading-style3:before {
    border-top: 23px solid #F6DC7A;
    width: 50%;
}

/* modal for edit */
.gallery_modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.gallery_modal-content{
    background-color: #fefefe;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #888;
    width: 60%;
}
.gallery_close{
    float: right;
}
.gallery_editbody{
    padding: 50px;
}
.gallery_editbody > input[type=text]{
    margin: 8px 0;
    width:100%;
    height: 30px;
    font-size: 16px;
}
#gallery_savebtn{
    background-color: black;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight:600;
    margin: 10px 0 0 0;
}
#gallery_closebtn{
    background-color: white;
    border: none;
    padding: 8px;
    font-size: 20px;
}

@media only screen and (max-width: 1000px){
    .gallery_upload-header{
        width:50%;
        margin-left:0;
    }
}