@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#notification {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
}

/*******************Heading Styling*********************/
.heading-style,
.heading-style2,
.heading-style3 {
    position: relative;
    z-index: 1;
}

.heading-style:before,
.heading-style2:before,
.heading-style3:before {
    content: "";
    margin: 0;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.heading-style:before {
    border-top: 23px solid #F6DC7A;
    width: 70%;
}

.heading-style2:before {
    border-top: 23px solid #F6DC7A;
    width: 60%;
}



/***********Button Stylings**************/
.btn1,
.btn2,
.btn3 {
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.btn1 {
    color: white;
    border: solid 1.5px #ff2222;
    background-color: #ff2222;
}

.btn1:hover {
    background-color: white;
    color: #ff2222;
    border: solid 1.5px #ff2222;
}

.btn2 {
    color: white;
    border: solid 1.5px #05E5E5;
    background-color: #05E5E5;
}

.btn2:hover {
    background-color: white;
    color: #05E5E5;
    border: solid 1.5px #05E5E5;
}

.btn3 {
    color: white;
    border: solid 1.5px grey;
    background-color: grey;
}

.btn3:hover {
    background-color: white;
    color: grey;
    border: solid 1.5px grey;
}

.button-link {
    background: none;
    color: blue;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.button-link:hover {
    border-bottom: 1px solid blue;
}

/*********** View Notification ************/

#message {
    font-size: 1.4em;
}