body {
    margin: 0 auto;
    padding: 0;
    background: #f2f2f2;
    max-width: 340px;
    font-size: 16px;
}

/************************Search Bar***************************/
.searchbar {
    display: flex;
    margin-top: 50px;
    background: none;
    height: 30px;
    border-radius: 25px;
    border: solid 0px #000;
    width: 0;
    -webkit-transition: 0.1s ease-out;
    transition: 0.5s ease-out;
}

.searchbar:hover {
    width: 100%;
    border: solid 1px #000;
    transition: 0.5s ease-in;
}

.searchbar:hover>.searchbar__button {
    border: none;
}

.searchbar:enabled {
    width: 100%;
}

.searchbar__input {
    border: none;
    padding: 0px;
    color: #000;
    font-size: 16px;
    background: transparent;
    width: 80%;
    margin-left: 10px;
}

.searchbar__button {
    color: #000;
    float: right;
    width: 30px;
    height: 30px;
    padding: 2px 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


/***********Playlist Listings**************/
#playlists,
#songs {
    display: flex;
    flex-direction: column;
    max-width: 330px;
}

#songs {
    visibility: hidden;
}

#playlist-page__head {
    display: flex;
    justify-content: space-between;
}

#playlist-page__header {
    color: #000;
}

.playlist-page__create {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #777;
    transition: 0.4s;
}

.playlist-page__create:hover {
    font-size: 25px;
    transition: 0.4s;
    transform: rotate(360deg);
}

.playlist-page__create:active {
    color: #ff2222;
}

.playlist,
.song {
    display: flex;
    position: relative;
    border: solid 1px #ccc;
    border-radius: 10px;
    background: white;
    height: 75px;
    width: 330px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.active{
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.playlist:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    color: #ff2222;
    transition: 0.5s;
}

.song:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    color: #05E5E5;
    transition: 0.5s;
}

.playlist:active {
    box-shadow: none;
}

.playlist_item,
.song_item {
    flex: 1 1 auto;
}

.playlist__title,
.song__title {
    margin-bottom: 0;
    font-size: 1.2em;
}

.playlist__song-count,
.song__artist,
.song__time {
    margin-top: 0;
    font-size: 0.9em;
    color: #777;
}

.song__artist {
    margin: 0;
    font-size: 1em;
    color: grey;
}

.playlist__info,
.song__info {
    flex: 0 0 170px;
    margin-left: 20px;
    text-decoration: none;
}

.playlist__info:visited,
.song__info:visited {
    color: black;
}

.fa-ellipsis-v {
    color: #f6dc7a;
    font-size: 25px;
}

.playlist-icon {
    font-size: 40px;
    border: solid 3px black;
    border-radius: 50%;
    padding: 4px;
}

.playlist__image,
.playlist__options,
.song__image,
.song__options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist__options,.song__options{
    position: relative;
    display: inline-block;

}

.playlist__options_dropdown,.song__options_dropdown{
    display: none;
    position: absolute;
    background-color: #f6dc7a;
    min-width: 160px;
    z-index: 1;
}

.playlist__options_dropdown a, .song__options_dropdown a{
    float: none;
    color: #000;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 3px;
}

.playlist__options_dropdown a:hover,.song__options_dropdown a:hover{
    background-color: #000;
    color: white;
}

/* .divider{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;  
    height:600px;
    border-left: solid 1px red;
} */

.to-songs{
    display: none;
    position: absolute;
    z-index: 1;
    right: -10%;
    top: 40%;
}

/************Create Playlist Form**************/
/* Code Referenced from https://www.w3schools.com/howto/howto_css_modals.asp */
#createPlaylist {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.playlistForm {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

.playlistForm form {
    margin: 0 auto;
}

.playlistForm label,
.playlistForm h2 {
    color: white;
}

.close {
    right: 0;
    display: inline;
    text-align: right;
    color: white;
    text-decoration: none;
}

.form-field {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.form-field>label {
    flex: 1;
}

.form-field>input,
.form-field>textarea {
    flex: 2;
}

.form-field>textarea {
    resize: none;
}

.form-submit {
    display: flex;
    justify-content: flex-end;
}

.form-submit input {
    background: none;
    border: solid 1px white;
    color: white;
    padding: 8px 15px;
}

.form-submit input:hover {
    color: rgba(0, 0, 0, 0.8);
    background: white;
}

.close{
    float: right;
}

@media only screen and (min-width: 675px) {
    body {
        max-width: 660px;
    }

    .playlist,
    .song {
        min-height: 0;
        width: 300px;
    }

    .playlists__layout {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }

    #songs h2 {
        display: none;
    }
}

@media only screen and (min-width: 860px) {
    body {
        max-width: 835px;
    }

    .playlist,
    .song {
        width: 350px;
    }
}

@media only screen and (min-width: 1050px) {
    body {
        max-width: 1040px;
    }

    .playlists__layout {
        margin-top: 10px;
        justify-content: space-evenly;
    }

    .playlist,
    .song {
        width: 375px;
    }
}