@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

body {
    margin: 0 auto;
    padding: 0;
    background: #f2f2f2;
    max-width: 340px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#container {
    margin: 0 auto;
    padding: 0;
    background-color: white;
    padding: 50px;
    max-width: 95vw;
    font-size: 20px;
}

/************************Search Bar***************************/
.searchbar {
    display: flex;
    margin-top: 50px;
    background: none;
    height: 30px;
    border-radius: 25px;
    border: solid 0px #000;
    width: 0;
    -webkit-transition: 0.1s ease-out;
    transition: 0.5s ease-out;
}

.searchbar:hover {
    width: 100%;
    border: solid 1px #000;
    transition: 0.5s ease-in;
}

.searchbar:hover>.searchbar__button {
    border: none;
}

.searchbar:enabled {
    width: 100%;
}

.searchbar__input {
    border: none;
    padding: 0px;
    color: #000;
    font-size: 16px;
    background: transparent;
    width: 80%;
    margin-left: 10px;
}

.searchbar__button {
    color: #000;
    float: right;
    width: 30px;
    height: 30px;
    padding: 2px 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/*******************Heading Styling*********************/
.heading-style,
.heading-style2,
.heading-style3 {
    position: relative;
    z-index: 1;
}

.heading-style:before,
.heading-style2:before,
.heading-style3:before {
    content: "";
    margin: 0;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.heading-style:before {
    border-top: 23px solid #F6DC7A;
    width: 25%;
}

.heading-style2:before {
    border-top: 23px solid #05e5e5;
    width: 95%
}

.heading-style3:before {
    border-top: 23px solid #ff4e4e;
    width: 95%;
}

.playlist-page__create h3 {
    margin-left: 5px;
}

/***********Button Stylings**************/

.playlist-page__create {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    color: #777;
    transition: 0.4s;
    cursor: pointer;
}

.playlist-page__create:hover {
    font-size: 20px;
    transition: 0.4s;
}

.playlist-page__create:active {
    color: #ff2222;
}

.btn,
.btn2 {
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.btn {
    color: white;
    border: solid 1.5px #ff2222;
    background-color: #ff2222;
}

.btn:hover {
    background-color: white;
    color: #ff2222;
    border: solid 1.5px #ff2222;
}

.btn2 {
    color: white;
    border: solid 1.5px #05E5E5;
    background-color: #05E5E5;
}

.btn2:hover {
    background-color: white;
    color: #05E5E5;
    border: solid 1.5px #05E5E5;
}

.form-action {
    float: right;
}

#to-playlists {
    text-decoration: none;
    color: #000;
}

.addsong {
    margin-bottom: 5px;
}

/***********Playlist/Song Styling**************/
#playlists,
#songs {
    display: flex;
    flex-direction: column;
    max-width: 380px;
}

#playlist-page__head {
    display: flex;
    justify-content: space-between;
}

.playlist,
.song {
    display: flex;
    position: relative;
    border: solid 1px #ccc;
    border-radius: 10px;
    background: white;
    height: 75px;
    width: 360px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.active {
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.playlist:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    color: #ff2222;
    transition: 0.5s;
}

.song:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    color: #05E5E5;
    transition: 0.5s;
}

.playlist:active {
    box-shadow: none;
}

.playlist_item,
.song_item {
    flex: 1 1 auto;
}

.playlist__title {
    color: black;
    margin-bottom: 0;
    font-size: 1.2em;
}

.song__title {
    color: black;
    margin-bottom: 0;
    font-size: 1em;
}

.playlist__song-count,
.song__artist,
.song__time {
    margin-top: 0;
    font-size: 0.9em;
    color: #777;
}

.song__artist {
    margin: 0;
    font-size: 1em;
    color: grey;
}

.playlist__info,
.song__info {
    flex: 0 0 170px;
    margin-left: 20px;
    text-decoration: none;
}

.playlist__info:visited,
.song__info:visited {
    color: black;
}

.fa-ellipsis-v {
    color: #f6dc7a;
    font-size: 25px;
}

.playlist-icon {
    font-size: 40px;
    border: solid 3px black;
    border-radius: 50%;
    padding: 4px;
}

.playlist__image,
.playlist__options,
.song__image,
.song__options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist__options,
.song__options {
    position: relative;
    display: inline-block;

}

.playlist__options_dropdown,
.song__options_dropdown {
    display: none;
    position: absolute;
    background-color: #f6dc7a;
    min-width: 160px;
    z-index: 1;
}

.nostyle {
    background: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.nostyle,
.song__options_dropdown a {
    float: none;
    color: #000;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 3px;
}

.nostyle:hover,
.song__options_dropdown a:hover {
    background-color: #000;
    color: white;
}

/* .divider{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;  
    height:600px;
    border-left: solid 1px red;
} */

/************Create Playlist Form**************/
/* Code Referenced from https://www.w3schools.com/howto/howto_css_modals.asp */
#playlistForm {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.playlistForm {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

.playlistForm form {
    margin: 0 auto;
}

.playlistForm label,
.playlistForm h2 {
    color: white;
}

.close {
    right: 0;
    display: inline;
    text-align: right;
    color: white;
    text-decoration: none;
}

.form-field {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.form-field>label {
    flex: 1;
}

.form-field>input,
.form-field>textarea {
    flex: 2;
}

.form-field>textarea {
    resize: none;
}

.form-submit {
    display: flex;
    justify-content: flex-end;
}

.form-submit input {
    background: none;
    border: solid 1px white;
    color: white;
    padding: 8px 15px;
}

.form-submit input:hover {
    color: rgba(0, 0, 0, 0.8);
    background: white;
}

.close {
    float: right;
}

/************Media Queries**************/
@media only screen and (min-width: 675px) {
    body {
        max-width: 660px;
    }

    #songs_header {
        display: none;
    }

    #playlists {
        margin-top: 45px;
        margin-right: 10px;
    }

    .playlist,
    .song {
        min-height: 0;
        width: 330px;
    }

    .playlists__layout {
        display: flex;
        /* margin: 0 auto; */
        justify-content: space-between;
    }

    #songs h2 {
        display: none;
    }
}

@media only screen and (min-width: 860px) {
    body {
        max-width: 835px;
    }

    .playlist,
    .song {
        width: 350px;
    }
}

@media only screen and (min-width: 1050px) {
    body {
        max-width: 1040px;
    }

    .playlists__layout {
        justify-content: space-between;
    }

    .playlist,
    #playlists {
        max-width: 380px;
    }


    .song,
    #songs {
        min-width: 500px;
    }

    .song {
        justify-content: space-between;
    }

    .song__info {
        flex-direction: column;
    }

    .song__image {
        flex: 1 0 0;
    }

    .song__options {
        text-align: end;
        margin-right: 20px;

    }
}