@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

/* layout */
.rsvp_container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    flex-direction: row;
}
.rsvp_inputform {
    order:1;
    background-color: white;
    width: 35%;
    padding: 2%;
    margin: 0 0.5%;
}
.rsvp_display{
    order:1;
    background-color: white;
    width: 55%;
    padding: 2%;
    margin: 0 0.5%;
}
.rsvp_sendtoguest{
    order:2;
    background-color: white;
    width: 35%;
    padding: 2%;
    margin: 0 0.5%;
}

/* styling for headline */
.rsvp_heading-style,.rsvp_heading-style2,.rsvp_heading-style3  {
  position: relative;
  z-index: 1;
}

.rsvp_heading-style:before,.rsvp_heading-style2:before, .rsvp_heading-style3:before {
  content: "";
  margin: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.rsvp_heading-style:before {
    border-top: 23px solid #F6DC7A;
    width: 90%;
}
.rsvp_heading-style2:before {
    border-top: 23px solid #05e5e5;
    width: 20%;
}
.rsvp_heading-style3:before {
    border-top: 23px solid #ff4e4e;
    width: 100%;
}

/* button styling */
.rsvp_btn{
    background-color: black;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight:600;
}
.rsvp_btn:hover{
    background-color: white;
    border: solid 2px black;
    color: black;
    margin: 0;
    padding: 6px 10px;
}

.rsvp_btn1, .rsvp_btn2{
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    font-size: 12.5px;
    font-weight:600;
}
.rsvp_btn1{
    color: #05e5e5;
    border: solid 1.5px #05e5e5;
}
.rsvp_btn1:hover{
    background-color: #05e5e5;
    color: black;
    border: solid 1.5px #05e5e5;
}
.rsvp_btn2{
    color: #ff2222;
    border: solid 1.5px #ff2222;
}
.rsvp_btn2:hover{
    background-color: #ff2222;
    color:white;
    border: solid 1.5px #ff2222;
}

/* form styling */
.rsvp_input input[type=text] {
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 15px;
}
#rsvp_table{
  border-collapse: collapse;
  width: 100%;
}
#rsvp_table td{
    font-size: 13px;
    padding:3px 8px;
}
#rsvp_table th {
    padding: 10px 8px;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

@media only screen and (max-width: 900px){
    .rsvp_container{
        flex-direction: column;
    }
    .rsvp_inputform {
        order:1;
        width: 100%;
    }
    .rsvp_display{
        order:2;
        width: 100%;
    }
    .rsvp_sendtoguest{
        order:3;
        width: 100%;
    }
    .rsvp_heading-style:before {
        width: 90%;
    }
    .rsvp_heading-style2:before {
        width: 40%;
    }
    .rsvp_heading-style3:before {
        width: 95%;
    }
    .rsvp_body{
        font-size: 14px
    }
    .rsvp_sendtoguest input[type=text]{
        padding:2px 5px;
    }
    #rsvp_table td{
        font-size: 12px;
        padding:2px;
    }
    #rsvp_table th {
        padding:3px;
        font-size: 12px;
    }
}