body {
    margin: 0 auto;
    padding: 0;
    background: #f2f2f2;
    max-width: 95vw;
    font-size: 20px;
}

/************************Search Bar***************************/
.searchbar {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    background: none;
    height: 30px;
    border-radius: 25px;
    border: solid 0px #000;
    width: 0;
    -webkit-transition: 0.1s ease-out;
    transition: 0.5s ease-out;
}

.searchbar:hover {
    width: 100%;
    border: solid 1px #000;
    transition: 0.5s ease-in;
}

.searchbar:hover>.searchbar__button {
    border: none;
}

.searchbar:enabled {
    width: 100%;
}

.searchbar__input {
    border: none;
    padding: 0px;
    color: #000;
    font-size: 16px;
    background: transparent;
    width: 80%;
    margin-left: 10px;
}

.searchbar__button {
    color: #000;
    float: right;
    width: 30px;
    height: 30px;
    padding: 2px 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/***************Songs Listing*******************/
.add-song {
    padding-left: 20px;
    width: 10vw;
}

#song-listings__header {
    text-align: center;
}

#song_listings {
    background: white;
    padding: 15px;
}

.not-selected {
    color: white;
    border: solid 2px black;
    border-radius: 50%;
}

.selected {
    color: green;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.song_info:hover {
    background-color: #ccc;
}

tbody td {
    cursor: pointer;
    padding: 0 10px;
}

th {
    text-align: left;
}