body {
    margin: 0 auto;
    padding: 0;
    background: #f2f2f2;
    max-width: 95vw;
    font-size: 20px;
}

/************************Search Bar***************************/
.searchbar {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    background: none;
    height: 30px;
    border-radius: 25px;
    border: solid 0px #000;
    width: 0;
    -webkit-transition: 0.1s ease-out;
    transition: 0.5s ease-out;
}

.searchbar:hover {
    width: 100%;
    border: solid 1px #000;
    transition: 0.5s ease-in;
}

.searchbar:hover>.searchbar__button {
    border: none;
}

.searchbar:enabled {
    width: 100%;
}

.searchbar__input {
    border: none;
    padding: 0px;
    color: #000;
    font-size: 16px;
    background: transparent;
    width: 80%;
    margin-left: 10px;
}

.searchbar__button {
    color: #000;
    float: right;
    width: 30px;
    height: 30px;
    padding: 2px 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/***************Songs Listing*******************/

.heading-style {
    position: relative;
    z-index: 1;
    text-align: center;
}

.heading-style:before {
    content: "";
    margin: 0;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-top: 23px solid #F6DC7A;
    width: 100%;
}

.add-song {
    padding-left: 20px;
    width: 10vw;
}

.btn {
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;

    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
    border: solid 1.5px #ff2222;
    background-color: #ff2222;
}

.btn:hover {
    background-color: white;
    color: #ff2222;
    border: solid 1.5px #ff2222;
}

#song_listings {
    background: white;
    padding: 15px;
    margin-top: 50px;
}

.not-selected {
    color: white;
    border: solid 2px black;
    border-radius: 50%;
}

.selected {
    color: green;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.song_info:hover {
    background-color: #ccc;
}

tbody td {
    cursor: pointer;
    padding: 0 10px;
}

th {
    text-align: left;
}