@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

.todo-container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 5%;
    margin-bottom: 20.4%;
}
.todo-inputform {
    order:1;
    background-color: white;
    width: 60%;
    padding: 2.5%;
    margin-left: 20%;
    
    
}
.to-do-h-style-add,.to-do-h-style-list {
  position: relative;
  z-index: 1;
}
.to-do-h-style-add:before,.to-do-h-style-list:before  {
  content: "";
  margin: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.to-do-h-style-list:before {
  border-top: 23px solid #05e5e5;
  width: 22%;
}
.poll-input{
    width: 96%;
    padding: 5px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 13px;
}
.todo-p{
    margin: 5px 0;
}
#todo-table{
    border-collapse: collapse;
    width: 100%;
}
#todo-table th {
    padding: 10px 8px;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.todo-button-link {
    background: none;
    color: #000;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    font-size: 1.1em;
}
.todo-button-link:hover {
    color: #05e5e5;
}
.todo-delete{
    color: #000;
    margin-left: 20px;
}

.todo-delete:hover{
    color: red;
    
}
.add{
    color: #000;
}
.plus{
    color: #000;
    font-size: 1.2em;
    margin-right: 10px;
}
.plus:hover{
    color: #F6DC7A;
}
.todo-text{
    width: 93%;
}
@media only screen and (max-width: 900px){
    .todo-container{
        flex-direction: column;
    }
    .todo-inputform {
        order:1;
        width: 100%;
    }
    .display{
        order:2;
        width: 100%;
    }
    .to-do-h-style-add:before {
        width: 70%;
    }
    .to-do-h-style-list:before {
        width: 40%;
    }
    body{
        font-size: 14px
    }
    input[type=text]{
        padding:2px 5px;
    }
    #todo-table td{
        font-size: 12px;
        padding:2px;
    }
    #todo-table th {
        padding:3px;
        font-size: 12px;
    }

}

