@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
.gallery_page{
    max-width: 1200px;
    background: #f2f2f2;
    margin: 0 3%;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
}

/* layout */
.header{
    display: block;
    margin-left: 5%;
}
.inputform {
    background-color: white;
    width: 90%;
    height:70px;
    padding: 2%;
    margin: 0 auto;
}
.upload-header{
    width: 20%;
    margin-left:1%;
}
.upload-form label{
    margin:0 2% 0 1%;
}
.upload-form i{
    margin:0 2%;
    color:#ff4e4e;
    font-size:22px;
}
.upload-form input[type=text]{
    width: 30%;
    padding:4px;
    box-sizing: border-box;
    font-size: 14px;
}
.upload-form input[type=file]{
    font-size: 14px;
}
.upload-form input[type=submit]{
    width: 10%;
    background-color: #F6DC7A;
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size:14px;
}
.upload-form input[type=submit]:hover{
    background-color: black;
    color: white;
}
.gallery_display{
    background-color: white;
    width: 90%;
    min-height: 50px;
    padding: 2%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* gallery style */
.gallery_display .photo-container{
    position: relative;
    width: 230px;
    height: 230px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}
.gallery_display .photo-container .photo-sec{
    position: relative;
    overflow: hidden;
}
.gallery_display .photo-container .photo-sec img{
    max-width: 150%;
}
.gallery_display .photo-container .photo-info{
    position: absolute;
    top:7px;
    left:7px;
    bottom:7px;
    right:7px;
    background: rgba(225,225,225,0.7);
    transform: scaleY(0);
    transition: transform .5s;
}
.gallery_display .photo-container:hover .photo-info{
    transform: scaleY(1);
}
.gallery_display .photo-container .photo-info .photo-content .photo-text{
    position: absolute;
    padding:10px;
    margin:0;
    font-weight: 600;
    font-size: 18px;
}

/*delete buttons */
.delete{
    background-color: black;
    border: solid 2px black;
    color: white;
    padding: 1px 4px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    bottom:10px;
    right:10px;
}
.delete:hover{
    background-color: #ff4e4e;
    border: solid 2px #ff4e4e;
}

/* styling for headline */
.heading-style,.heading-style2,.heading-style3 {
    position: relative;
    z-index: 1;
}
.heading-style:before,.heading-style2:before, .heading-style3:before {
  content: "";
  margin: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.heading-style:before {
    border-top: 23px solid #05e5e5;
    width: 15%;
}
.heading-style2:before {
    border-top: 23px solid #ff4e4e;
    width: 90%;
}
.heading-style3:before {
    border-top: 23px solid #F6DC7A;
    width: 50%;
}

@media only screen and (max-width: 1000px){
    .upload-header{
        width:50%;
        margin-left:0;
    }
}