@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
body{
    max-width: 1200px;
    background: #f2f2f2;
    margin: 0 3%;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
}

/* layout */
.header{
    display: block;
    margin-left: 5%;
}
.inputform {
    background-color: white;
    width: 90%;
    height:70px;
    padding: 2%;
    margin: 0 auto;
}
.upload-msg{
    width: 20%;
    display: inline-block;
    color:#ff4e4e;
    font-size: 16px;
    margin-left: 85%;
}
.upload-header{
    margin-left: 60%;
    width: 20%;
    display: inline-block;
}
.upload-form{
    display: inline-block;
    width:15%;
}
.display{
    background-color: white;
    width: 90%;
    padding: 2%;
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    flex-direction: row;
    margin: 0 auto;
}

/* gallery style */
.photo-container{
    width: 215px;
    height: 300px;
    align-content: stretch;
    padding: 15px;
}
.photo{
    width: 215px;
    height: 215px;
}
/*edit and delete buttons */
.edit {
    background-color: #F6DC7A;
    border: solid 2px #F6DC7A;
    color: black;
    padding: 1px 4px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
}
.edit:hover {
    background-color: #ff4e4e;
    border: solid 2px #ff4e4e;
    color: white;
}
.delete{
    background-color: black;
    border: solid 2px black;
    color: white;
    padding: 1px 4px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
}
.delete:hover{
    background-color: #ff4e4e;
    border: solid 2px #ff4e4e;
}

/* styling for headline */
.heading-style,.heading-style2,.heading-style3 {
    position: relative;
    z-index: 1;
}
.heading-style:before,.heading-style2:before, .heading-style3:before {
  content: "";
  margin: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.heading-style:before {
    border-top: 23px solid #05e5e5;
    width: 15%;
}
.heading-style2:before {
    border-top: 23px solid #ff4e4e;
    width: 90%;
}
.heading-style3:before {
    border-top: 23px solid #F6DC7A;
    width: 50%;
}

/* modal for edit */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #888;
    width: 60%;
}
.close{
    float: right;
}
.editbody{
    padding: 50px;
}
.editbody > input[type=text]{
    margin: 8px 0;
    width:100%;
    height: 30px;
    font-size: 16px;
}
#savebtn{
    background-color: black;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight:600;
    margin: 10px 0 0 0;
}
#closebtn{
    background-color: white;
    border: none;
    padding: 8px;
    font-size: 20px;
}

@media only screen and (max-width: 1000px){
    .upload-header{
        width:50%;
        margin-left:0;
    }
}