.event-thead {
    color: #027272;
}

#form-add-event, #form-update-event {
    max-width: 500px;
}

.btn-primary {
    background-color: #05e5e5;
    border-color: #05e5e5;
}

.btn-primary:hover {
    background-color: #04b7b7;
    border-color: #04b7b7;
}

.btn {
    margin-right: 10px;
}

.btn-default {
    border-color: #ccc;
}

.event-action-btn {
    margin: 5px 0 10px;
}

.event-action-link {
    padding-right: 10px;
}

.event-detail {
    /* max-width: 500px; */
    font-size: 1.3rem;
    font-weight: lighter;
}

#event-detail-main {
  border: 2px solid #22C9D4;
  margin: 20px auto;
  border-radius: 50px 10px 0px 10px;
  max-width: 90%;
}

.event-description {
  font-size: 1.5em;
  font-weight: 300;
}

.card-deck {
  margin-bottom: 30px;
}

.card-deck .col-1 {
  max-width: 10%;
}

.card-img-top {
  padding: 10px 0;
}

.card-body {
  padding: 0;
}

#event_detail_cards .card {
  color: grey;
}

#event_detail_cards .card:hover {
  border-color: #22C9D4;
  color: #22C9D4;
  text-decoration: none;
}

#event_detail_cards a:hover{
}

#registration-block {
    border-right: 2px solid #04b7b7;
}

.event-delete-container {
    margin-bottom: 40vh;
}

.event-delete-container h1 {
  font-size: 2.6em;
}

.display-4 {
    font-size: 3rem;
}

.heading-style:before {
  width: 100%;
}

.events__container {
  background-color: white;
  padding: 10px 0;
  margin: 30px 0;
  border-radius: 5px;
}

.error_message {
  color: red;
  font-style: italic;
}